
@font-face {
    font-family: 'Curlz MT';
    src: url('../fonts/CurlzMT.woff2') format('woff2'),
    url('../fonts/CurlzMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-size: 16px;
}
#main {
    background: #acfafa;
    padding: 20px;
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #acfafa;
}
h1 {
    text-align: center;
    font-size: 2.7rem;
    color: darkblue;
}
h2 {
    text-align: center;
    font-size: 2.5rem;
    color: darkred;
    background: url("../img/4.jpg");
    padding: 15px;
    font-family: 'Curlz MT', serif;
}